*{
    font-family: 'Gochi Hand', cursive;
    color:#101083;;
    text-shadow: 5px 5px 10px white;
}

html{
    background: url(../img/FondoMadera.jpg);
    background-size: 100vw 100vh;
}

body{

    min-height: 100vh;
    width: 100%;
    margin:0 auto;    
}

header{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 10%;
    justify-content: space-around;
    margin-bottom:10px;
}

.contenedor-body{
    height: 100%;
}

.tituloPagina{
    float: left;
}

.imagenLogo{
    float: right;
}

.titulo{
    margin: 1px;
}

.botones{
    width: 180px;
    margin: 5px auto;
    padding: 5px;
    color: blue;
    font-size: medium;
}

.invisible{
    display: none;
    color: transparent;
}

.ventana::backdrop {
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(3px);
}

.ventana {
    flex-direction: column;
    border: 7px double goldenrod;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px -1px black;
    background-color: rgb(114, 49, 2);
    justify-content: center;
}

.ventana p, .ventana strong{
    color: goldenrod;
    text-shadow: none;
}

.botones-oscuros, .botones-claros{
    display: block;
    margin: 5px auto;
    width: 90%;
    height: 25px;
    border-radius: 5px;
    border-color: goldenrod;
    font-size:medium;
    text-shadow: none;
    transition: background-color 0.5s linear;
}

.botones-oscuros{
    background-color: rgb(52, 23, 2);
    color: goldenrod;
}

.botones-oscuros:hover{
    background-color: rgb(26, 11, 1);
    cursor: pointer;
}

.botones-claros{
    background-color: rgb(246, 207, 179);
    color: rgb(26, 11, 1);
}

.botones-claros:hover{
    background-color: rgb(251, 143, 66);
    cursor: pointer;
}

footer{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
}

.iconos{
    margin: auto 5px;
}

footer div{
    position: relative;
    display: inline;
    margin: 0 auto;
}

footer p{
    margin: 2px auto;
}

@media screen and (min-width: 1024px ){

    .tituloPagina{
        display: flex;
        align-content: flex-end;
        align-items: baseline;
    }

    .titulo{
        margin-left: 1em;
    }

}

@media screen and (min-width: 620px ){

    .botones{
        width: 40%;
    }

}